@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-size: 14px;
}

html, body {
    min-height: 100%;
}

.alert {
    @apply flex justify-between py-3 px-4 mb-4
}

.close-alert {
    @apply text-chc-green-50 hover:text-chc-green-1000 active:ring-2 cursor-pointer
}

/*=========================*/

.envelopes-button {
    @apply bg-chc-refreshColor hover:bg-chc-refreshHoverColor py-2 font-extrabold text-center w-full text-sm rounded
}

.envelopes-items {
    @apply flex items-center cursor-pointer hover:text-chc-signInColor border-b-2 py-1
}

.over-flow-word {
    overflow-wrap: break-word
}

.striped-even > div:nth-child(even){
    @apply bg-white
}

.striped-odd > div:nth-child(odd){
   @apply bg-gray-100
}

.hha-table-body tr:nth-child(odd){
    @apply bg-gray-200
}

.profile-tabs {
    @apply border-r-2 hover:bg-blue-500 hover:text-white relative flex border-l-2 border-t-2 p-2 xl:rounded-t-xl xl:mr-2 cursor-pointer
}

@import '~vue-skeletor/dist/vue-skeletor.css';

