#changelog h2 {
    font-weight: bold;
    font-size: 1.2rem;
}

#changelog ul {
    padding: 0.5rem 0 0.5rem 1.25rem ;
    list-style-type:disc;
}

#changelog li {
    color: rgba(114, 118, 118, 0.97);
}