<template>
    <h1 class="font-bold mb-4 text-2xl">Create New Template</h1>
    <div class="mb-2 text-chc-loginInput">Template name</div>
    <input type="text" name="Template Name"
           class="py-2 px-2 mb-4 w-full rounded" v-model="template.name">
    <div class="mb-2 text-chc-loginInput">Template description</div>
    <textarea rows="4" class="w-full mb-4 rounded" name="description" v-model="template.description"></textarea>
    <button type="button"
            class="flex items-center cursor-pointer text-white bg-chc-signInColor py-2 px-5 rounded hover:bg-chc-yearsHoverColor"
            @click="createTemplate">
        <i class="fas fa-plus mr-2"></i> Create
    </button>
</template>

<script>
export default {
    data() {
        return {
            template: {
                name: '',
                description: ''
            }
        }
    },
    methods: {
        createTemplate() {
            axios.post(`${API_URI}/signature/templates/create`, this.template).then(res => {
                this.template = {
                    name: '',
                    description: '',
                }
                this.$toast.success(`${res.data.name} created successfully`)
                this.$parent.refreshTemplates()
            }).catch(err => {

            })
        }
    }
}
</script>
