<template>
    <div class="bg-white">
        <div class="bg-chc-personImgBg text-white border-b-2 py-4 px-5 font-bold">
            Template List
        </div>
        <div v-if="$parent.isLoadingTemplates">
            <div class="border-b-2" v-for="i in 3">
                <div class="ml-5 flex items-center px-2 py-4">
                    <Skeletor circle size="20" />
                    <div class="ml-2 w-80">
                        <Skeletor width="50%" />
                    </div>
                </div>
            </div>
        </div>
        <div class="flex items-center px-5 py-4 border-b-2 cursor-pointer" v-for="(template, index) in templates"
             :key="template.templateId"
             @click="showTemplateDetails(template.templateId, index)" v-else>
            <i class="far fa-file mr-2"></i>
            {{ template.name }}
        </div>
    </div>
</template>
<script>
export default {
    props: ['templates'],
    data() {
        return {}
    },
    methods: {
        showTemplateDetails(templateId, index) {
            this.$parent.activeTemplate = this.templates[index]
            this.$parent.templateDetails = {}
            this.$parent.isLoadingRecipients = true
            this.$parent.createMode = false

            axios.get(API_URI + `/signature/templates/${templateId}/recipients`)
                .then(res => {
                    this.$parent.isLoadingRecipients = false
                    this.$parent.templateDetails = res.data
                })
        },
    }
}
</script>