<template>
    <div class="border-b-2 pb-5">
        <h1 class="font-bold text-2xl mb-2">{{ template.name }}</h1>
        <div class="text-chc-gray-900 text-sm mb-2">
            <div class="flex items-center mb-2">
                <i class="far fa-clock"></i>
                <div class="ml-2 font-bold">Created:</div>
                <div class="ml-2">{{ $DateTime.fromISO(template.created).toFormat('ff') }}
                    ({{ $DateTime.fromISO(template.created).toRelative() }})
                </div>
            </div>
            <div class="flex items-center">
                <i class="fas fa-history"></i>
                <div class="ml-2 font-bold">Last Change:</div>
                <div class="ml-2">{{ $DateTime.fromISO(template.lastModified).toFormat('ff') }}
                    ({{ $DateTime.fromISO(template.lastModified).toRelative() }})
                </div>
            </div>
        </div>
        <p>{{ template.description }}</p>
        <div class="flex justify-end">
            <button class="px-5 py-2 mr-2 mt-4 text-white rounded-lg bg-chc-loginItems"
                    @click="editTemplate(template.templateId)"><i class="fas fa-edit mr-2"></i>Edit template
            </button>
        </div>
    </div>
    <div class="mt-5">
        <div class="font-bold text-2xl">Recipients</div>
        <div class="p-5 border-b-2 mt-2" v-if="$parent.isLoadingRecipients">
            <div class="flex items-center">
                <div class="flex items-center mr-2">
                    <Skeletor circle size="42"/>
                </div>
                <div class="flex-grow">
                    <div class="flex justify-between">
                        <div class="w-80">
                            <Skeletor width="50%"/>
                        </div>
                        <div class="w-80 text-right">
                            <Skeletor width="90%"/>
                        </div>
                    </div>
                    <div class="flex justify-between">
                        <div class="w-80">
                            <Skeletor width="75%"/>
                        </div>
                        <div class="w-80 text-right">
                            <Skeletor width="45%"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div v-if="details.recipientCount != 0" class="mt-2">
            <div class="striped-even">
                <div class="p-5 border-b-2 flex items-center" v-for="(signer, index) in details.signers" :key="index">
                    <div class="flex items-center mr-2">
                        <img :src="`https://avatars.dicebear.com/api/initials/${signer.name}.svg`" :alt="signer.name"
                             class="rounded-full w-12 h-12">
                    </div>
                    <div class="flex-grow">
                        <div class="flex justify-between">
                            <div class="flex items-center">
                                <i class="fas fa-user-tie text-chc-gray-900"></i>
                                <div class="ml-2 text-chc-gray-900">Name:</div>
                                <div class="ml-2">{{ signer.name }}</div>
                            </div>
                            <div class="flex items-center">
                                <div class="font-bold text-chc-gray-900 text-lg">Role:</div>
                                <div class="ml-2 font-bold">
                                    {{ signer.roleName }}
                                </div>
                            </div>
                        </div>
                        <div class="flex justify-between">
                            <div class="flex items-center">
                                <i class="far fa-envelope text-chc-gray-900"></i>
                                <div class="ml-2 text-chc-gray-900">Email:</div>
                                <div class="ml-2">{{ signer.email }}</div>
                            </div>
                            <div class="flex items-center text-chc-moreColor">
                                <i class="fas fa-signature"></i>
                                <div class="uppercase ml-2">Need to sign</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="striped-odd">
                <div class="p-5 border-b-2 flex items-center" v-for="(cc, index) in details.carbonCopies" :key="index">
                    <div class="flex items-center mr-2">
                        <img :src="`https://avatars.dicebear.com/api/initials/${cc.name}.svg`" :alt="cc.name"
                             class="rounded-full w-12 h-12">
                    </div>
                    <div class="flex-grow">
                        <div class="flex justify-between">
                            <div class="flex items-center text-base">
                                <i class="fas fa-user-tie text-chc-gray-900"></i>
                                <div class="ml-2 text-chc-gray-900">Name:</div>
                                <div class="ml-2">{{ cc.name }}</div>
                            </div>
                            <div class="flex items-center">
                                <div class="font-bold text-chc-gray-900 text-lg">Role:</div>
                                <div class="ml-2 font-bold">
                                    {{ cc.roleName }}
                                </div>
                            </div>
                        </div>
                        <div class="flex justify-between">
                            <div class="flex items-center">
                                <i class="far fa-envelope text-chc-gray-900"></i>
                                <div class="ml-2 text-chc-gray-900">Email:</div>
                                <div class="ml-2">{{ cc.email }}</div>
                            </div>
                            <div class="flex items-center text-chc-moreColor">
                                <i class="far fa-copy"></i>
                                <div class="uppercase ml-2">Receives a Copy</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="alert bg-blue-50 mt-3" v-else>
            This template has no recipients.
        </div>
    </div>
    <div class="border-b-2 p-5">
        <h2 class="font-bold">Owner</h2>
        <div class="w-full flex justify-between mt-2">
            <div class="flex items-center">
                <i class="fas fa-user-tie text-chc-gray-900"></i>
                <div class="text-chc-gray-900 ml-1">Name:</div>
                <div class="text-blue-500 ml-2">{{ template.owner.userName }}</div>
            </div>
            <div class="flex items-center">
                <i class="far fa-envelope text-chc-gray-900"></i>
                <div class="text-chc-gray-900 ml-2">Email:</div>
                <div class="text-blue-500 over-flow-word ml-2">
                    {{ template.owner.email }}
                </div>
            </div>
        </div>
    </div>
    <div class="mt-5 flex justify-end">
        <button class="px-5 py-2 mr-2 text-white rounded-lg bg-red-500"><i class="fas fa-trash-alt mr-2"></i>Delete template
        </button>
    </div>
</template>
<script>
export default {
    props: ['template', 'details'],
    data() {
        return {
            zebraBackGround: ''
        }
    },
    methods: {
        editTemplate(templateId) {
            this.$toast.show('Preparing template view...')
            axios.post(API_URI + '/signature/templates/edit', {templateId})
                .then(res => {
                    window.location = res.data.url
                })
        }
    }
}
</script>