/* override top nav bar */
.navbar-default {
    background-color: #25628C;
    border-color: #18415d;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
}

table.dataTable thead th input{
    color:#000;
}
.morris-hover{position:absolute;z-index:1000}.morris-hover.morris-default-style{border-radius:10px;padding:6px;color:#666;background:rgba(255,255,255,0.8);border:solid 2px rgba(230,230,230,0.8);font-family:sans-serif;font-size:12px;text-align:center}.morris-hover.morris-default-style .morris-hover-row-label{font-weight:bold;margin:0.25em 0}
.morris-hover.morris-default-style .morris-hover-point{white-space:nowrap;margin:0.1em 0}

/* Widget */
.widget {
    position: relative;
    background: #fff;
    color: #5b5b5b;
    margin-bottom: 20px;
}
.widget-header,
.widget-content {
    display: block;
    width: 100%;
    clear: both;
}
.portlets {
    min-height: 50px;
}
.portlets .widget-header {
    cursor: move;
}
.widget-footer {
    -webkit-border-radius: 0 0 2px 2px;
    border-radius: 0 0 2px 2px;
    overflow: hidden;
}
.widget-header.transparent {
    background: transparent;
    border: none;
}
.widget-header.centered {
    text-align: center;
}
.widget-header .left-btn {
    position: absolute;
    left: 10px;
    top: 6px;
}
.widget-content {
    -webkit-border-radius: 0 0 2px 2px;
    border-radius: 0 0 2px 2px;
}
.widget-content.padding {
    padding: 15px;
}
.widget-content.padding-sm {
    padding: 10px;
}
.widget-content.padding-xs {
    padding: 1%;
}
.widget.maximized {
    position: fixed;
    -webkit-border-radius: 0;
    border-radius: 0;
    top: 50px;
    left: 240px;
    right: 0px;
    bottom: 0px;
    z-index: 10;
    margin: 0px;
}
#wrapper.enlarged .widget.maximized {
    left: 50px;
}
#wrapper.open-right-sidebar .widget.maximized {
    right: 240px;
}
.widget.modal-widget {
    position: absolute;
    display: block;
    z-index: 10;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.2), 0px 10px 15px rgba(0,0,0,0.2);
}
.widget.modal-widget.modalize .widget-header {
    background: #efefef;
}
.widget:before,
.widget:after {
    display: table;
    content: " ";
}
.widget:after {
    clear: both;
}
.widget .des-thumbnail {
    padding: 20px;
}
.widget .img-wrap {
    width: 100%;
    height: auto;
    overflow: hidden;
}
.widget .img-wrap img {
    width: 100%;
}
.widget .widget-header {
    height: 43px;
    display: block;
}
.widget .widget-header h2 {
    padding: 4px 13px 4px 13px;
    margin: 0px;
    font-weight: 400;
    font-size: 16px;
    display: block;
    color: #5b5b5b;
}
.widget .widget-header h2.no-style {
    padding: 0px;
    margin: 20px 0px 10px 0px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 30px;
    border-bottom: none;
}
.widget.box-messages {
    margin-top: -50px;
}
.widget.box-messages h2 {
    border-bottom: none;
}
.widget .statistic-chart {
    padding: 0 0 0px 0;
}
.widget .statistic-chart .toolbar {
    padding: 10px;
    padding-top: 0px;
}
.widget.full {
    padding: 0px;
}
.widget.full .box-footer {
    padding: 20px 20px 15px 20px;
}
.widget.full .box-footer a,
.widget.full .box-footer a:hover {
    color: #1B1E24;
    text-decoration: none;
}
.widget .nav-tabs > li > a {
    line-height: 1.428571429;
    border: none;
    margin-right: 6px;
    background: rgba(0,0,0,0.04);
    font-family: "Open Sans";
    color: #555;
    font-size: 13px;
}
.widget .tab-content {
    padding-top: 10px;
    font-size: 13px;
}
.widget .tab-boxed {
    padding: 10px;
    border: 1px solid #ddd;
    border-top: 0px;
}
.widget .nav-tabs > li > a i {
    color: #555;
}
.widget .media-list {
    margin-top: 30px;
}
.widget .media-list a {
    color: #1B1E24;
}
.widget .media-list a:hover {
    color: #212121;
    text-decoration: none;
}
.widget .media-list .media {
    padding: 5px 20px;
    border-bottom: 1px solid #eaeaea;
}
.widget .media-list li:last-child.media {
    border-bottom: none;
}
.widget .media-list .media .media-heading a {
    font-size: 14px;
    font-weight: 600;
    color: #1B1E24;
    margin-right: 5px;
}
.widget .media-list .media .media-heading small {
    color: #65BD77;
    font-size: 11px;
}
.widget .media-list .media p {
    color: #909090;
}
.widget .media-list .media .media-object {
    width: 50px;
}
.widget .nav-tabs > li.active > a,
.widget .nav-tabs > li.active > a:hover,
.widget .nav-tabs > li.active > a:focus {
    cursor: default;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: none;
    background-color: #7A868F;
    color: #fff;
}
.widget .nav-tabs > li.active > a i,
.widget .nav-tabs > li.active > a:hover i,
.widget .nav-tabs > li.active > a:focus i {
    color: #fff;
}
.widget .nav-tabs.nav-simple li a {
    background: none;
}
.widget .nav-tabs.nav-simple > li.active > a,
.widget .nav-tabs.nav-simple > li.active > a:hover,
.widget .nav-tabs.nav-simple > li.active > a:focus {
    border: 1px solid #ddd;
    border-bottom: 1px solid #fff;
    background: none;
    color: #555;
}
.widget .nav-tabs.nav-simple > li.active > a i,
.widget .nav-tabs.nav-simple > li.active > a:hover i,
.widget .nav-tabs.nav-simple > li.active > a:focus i {
    color: #555;
}
.widget .additional-box {
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: 2;
}
.widget .additional-btn {
    position: absolute;
    top: 10px;
    right: 13px;
    z-index: 2;
}
.widget .left-toolbar {
    position: absolute;
    top: 10px;
    left: 13px;
    z-index: 2;
}
.widget:hover .additional-btn > a.hidden {
    display: inline-block !important;
    visibility: visible !important;
}
.widget:hover .additional-btn > a.hidden.nevershow,
.widget:hover .additional-btn > a.nevershow,
.widget .additional-btn > a.nevershow {
    display: none !important;
}
.widget .widget-header:hover .additional-btn > a {
    color: #909090;
    -webkit-transition: All 0.4s ease;
    -moz-transition: All 0.4s ease;
    -o-transition: All 0.4s ease;
}
.widget.modal-widget.modalize .widget-header .additional-btn > a {
    color: #909090;
}
.widget .btn-group {
    z-index: 1;
}
.widget table .btn-group {
    z-index: 1;
}
.widget .additional-btn .dropdown-menu {
    z-index: 2;
}
.widget .widget-close,
.widget .widget-toggle {
    font-size: 15px;
}
.widget .widget-close:hover {
    color: #EB5055 !important;
}
.widget .additional-btn > a,
.widget .widget-header .additional-btn .btn-group > a {
    color: #ccc;
    margin-left: 7px;
    margin-right: 0px;
    cursor: pointer;
    -webkit-transition: All 0.4s ease;
    -moz-transition: All 0.4s ease;
    -o-transition: All 0.4s ease;
}
.widget .additional-btn > a:hover {
    text-decoration: none;
    -webkit-transition: All 0.4s ease;
    -moz-transition: All 0.4s ease;
    -o-transition: All 0.4s ease;
}
.ui-sortable-placeholder {
    background: #cdcdcd !important;
    display: block;
    visibility: visible !important;
    min-height: 100%;
    -webkit-box-shadow: inset 0 0 5px 0 rgba(0,0,0,0.1);
    box-shadow: inset 0 0 5px 0 rgba(0,0,0,0.1);
}
.widget.ui-sortable-placeholder * {
    visibility: hidden;
}

.transparent {
    background: rgba(0,0,0,0);
    color: #fff;
}
.white {
    background: #ffffff;
    color: #555;
}
.widget.success {
    background: #65BD77;
    color: #fff;
}
.widget.success h2 {
    color: #2C7439;
    border-bottom-color: #3B934B;
}
.widget.success:hover {
    color: #DEFFE5;
}
.widget.success .additional-btn a.additional-icon {
    color: #3B934B;
}
.widget.success .additional-btn a:hover.additional-icon {
    color: #2C7439;
}
.widget.success .text-box h3 {
    color: #215F2E;
}
.widget.success .progress-bar-success {
    background-color: #215F2E;
}
.widget.success i.success {
    color: #215F2E;
}
.widget.danger {
    background: #D9534F;
    color: #fff;
}
.widget.danger h2 {
    color: #791C1A;
    border-bottom-color: #791C1A;
}
.widget.danger:hover {
    color: #fff;
}
.widget.danger .additional-btn a.additional-icon {
    color: #791C1A;
}
.widget.danger .additional-btn a:hover.additional-icon {
    color: #791C1A;
}
.widget.danger .text-box h3 {
    color: #791C1A;
}
.widget.danger .progress-bar-danger {
    background-color: #791C1A;
}
.widget.danger i.danger {
    color: #791C1A;
}
.widget.info {
    background: #4393D8;
    color: #fff;
}
.widget.info h2 {
    color: #15558B;
    border-bottom-color: #15558B;
}
.widget.info:hover {
    color: #DEFFE5;
}
.widget.info .additional-btn a.additional-icon {
    color: #15558B;
}
.widget.info .additional-btn a:hover.additional-icon {
    color: #15558B;
}
.widget.info .text-box h3 {
    color: #15558B;
}
.widget.info .progress-bar-info {
    background-color: #15558B;
}
.widget.info i.info {
    color: #15558B;
}
.widget.warning {
    background: #F7CB17;
    color: #fff;
}
.widget.warning h2 {
    color: #9D5D03;
    border-bottom-color: #9D5D03;
}
.widget.warning:hover {
    color: #DEFFE5;
}
.widget.warning .additional-btn a.additional-icon {
    color: #9D5D03;
}
.widget.warning .additional-btn a:hover.additional-icon {
    color: #9D5D03;
}
.widget.warning .text-box h3 {
    color: #9D5D03;
}
.widget.warning .progress-bar-warning {
    background-color: #9D5D03;
}
.widget .progress-bar-semi-transparent {
    background-color: rgba(255,255,255,0.4);
}
.widget.warning i.warning {
    color: #9D5D03;
}
.widget .additional {
    padding: 0 15px;
    background: #fff;
    color: #909090;
    margin: 15px -15px -15px -15px;
}
.widget .additional .list-box-info {
    margin: 0 -15px;
}
.widget .additional .list-box-info ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.widget .additional .list-box-info ul li {
    background: #fff;
    padding: 15px 20px;
    color: #909090;
    border-bottom: 1px solid #ddd;
}
.widget .additional .list-box-info ul li span.label {
    float: right;
    font-size: 13px;
}
.widget .additional .list-box-info ul li:last-child {
    border-bottom: 1px solid #fff;
}
.left .widget {
    margin: 10px;
}
.left .widget-header h2 {
    color: #fff;
    padding: 4px;
}
.left .widget .additional-btn {
    right: 4px;
}
.widget.full h2 {
    padding: 15px;
    margin: 5px 0px 20px 0px;
}
.widget table {
    margin: 0;
}
.widget table tr th,
.widget table tr td {
    padding-left: 15px;
    padding-right: 15px;
}
.widget .widget-icon {
    font-size: 50px;
    position: absolute;
    right: 4%;
    top: 10px;
    color: #ffffff;
}
.widget .text-box h2 {
    padding: 0;
    margin: 0px 0;
    font-weight: 300;
    font-size: 32px;
    display: block;
    color: #fff;
}
.widget .text-box .maindata {
    font-size: 11px;
    color: #fff;
    font-family: "Open Sans";
}
.widget .text-box .maindata b {
    font-size: 12px;
}
.top-summary .widget .progress {
    margin: 0px;
    background: rgba(0,0,0,0.2);
}
.top-summary .widget .widget-footer {
    background: rgba(0,0,0,0.1);
    padding: 4px 15px;
    font-size: 12px;
    color: rgba(255,255,255,0.9);
}
.top-summary .widget .widget-footer .rel-change {
    font-size: 14px;
    color: #fff;
    margin-right: 7px;
}

.bg-white-1 {
    background-color: #ffffff !important;
}
.border-white-1 {
    border-color: #ffffff !important;
}
.btn-white-1 {
    background-color: #ffffff;
    color: #fff;
}
.btn-white-1:hover {
    background-color: #f2f2f2 !important;
    color: #fff;
}
.text-white-1 {
    color: #ffffff !important;
}
.panel-white-1 {
    border-color: #f2f2f2 !important;
}
.panel-white-1 .panel-heading {
    background-color: #ffffff !important;
    border-color: #f2f2f2 !important;
    border-radius: 0px;
}
.panel-white-1 .panel-heading a,
.panel-white-1 .panel-title {
    color: #333;
}
.widget.white-1 {
    background-color: #ffffff;
    color: #333;
}
.widget.white-1 .widget-header h2 {
    color: #333;
}
.bg-red-1 {
    background-color: #eb5055 !important;
}
.border-red-1 {
    border-color: #eb5055 !important;
}
.btn-red-1 {
    background-color: #eb5055;
    color: #fff;
}
.btn-red-1:hover {
    background-color: #dd4449 !important;
    color: #fff;
}
.text-red-1 {
    color: #eb5055 !important;
}
.panel-red-1 {
    border-color: #dd4449 !important;
}
.panel-red-1 .panel-heading {
    background-color: #eb5055 !important;
    border-color: #dd4449 !important;
    border-radius: 0px;
}
.panel-red-1 .panel-heading a,
.panel-red-1 .panel-title {
    color: #fff;
}
.widget.red-1 {
    background-color: #eb5055;
    color: #fff;
}
.widget.red-1 .widget-header h2 {
    color: #fff;
}
.bg-blue-1 {
    background-color: #3c989e !important;
}
.border-blue-1 {
    border-color: #3c989e !important;
}
.btn-blue-1 {
    background-color: #3c989e;
    color: #fff;
}
.btn-blue-1:hover {
    background-color: #3f7e82 !important;
    color: #fff;
}
.text-blue-1 {
    color: #3c989e !important;
}
.panel-blue-1 {
    border-color: #3f7e82 !important;
}
.panel-blue-1 .panel-heading {
    background-color: #3c989e !important;
    border-color: #3f7e82 !important;
    border-radius: 0px;
}
.panel-blue-1 .panel-heading a,
.panel-blue-1 .panel-title {
    color: #fff;
}
.widget.blue-1 {
    background-color: #3c989e;
    color: #fff;
}
.widget.blue-1 .widget-header h2 {
    color: #fff;
}
.bg-blue-2 {
    background-color: #3498db !important;
}
.border-blue-2 {
    border-color: #3498db !important;
}
.btn-blue-2 {
    background-color: #3498db;
    color: #fff;
}
.btn-blue-2:hover {
    background-color: #3189c4 !important;
    color: #fff;
}
.text-blue-2 {
    color: #3498db !important;
}
.panel-blue-2 {
    border-color: #3189c4 !important;
}
.panel-blue-2 .panel-heading {
    background-color: #3498db !important;
    border-color: #3189c4 !important;
    border-radius: 0px;
}
.panel-blue-2 .panel-heading a,
.panel-blue-2 .panel-title {
    color: #fff;
}
.widget.blue-2 {
    background-color: #3498db;
    color: #fff;
}
.widget.blue-2 .widget-header h2 {
    color: #fff;
}
.bg-blue-3 {
    background-color: #2980b9 !important;
}
.border-blue-3 {
    border-color: #2980b9 !important;
}
.btn-blue-3 {
    background-color: #2980b9;
    color: #fff;
}
.btn-blue-3:hover {
    background-color: #2e6f9a !important;
    color: #fff;
}
.text-blue-3 {
    color: #2980b9 !important;
}
.panel-blue-3 {
    border-color: #2e6f9a !important;
}
.panel-blue-3 .panel-heading {
    background-color: #2980b9 !important;
    border-color: #2e6f9a !important;
    border-radius: 0px;
}
.panel-blue-3 .panel-heading a,
.panel-blue-3 .panel-title {
    color: #fff;
}
.widget.blue-3 {
    background-color: #2980b9;
    color: #fff;
}
.widget.blue-3 .widget-header h2 {
    color: #fff;
}
.bg-darkblue-1 {
    background-color: #252932 !important;
}
.border-darkblue-1 {
    border-color: #252932 !important;
}
.btn-darkblue-1 {
    background-color: #252932;
    color: #fff;
}
.btn-darkblue-1:hover {
    background-color: #1d1e20 !important;
    color: #fff;
}
.text-darkblue-1 {
    color: #252932 !important;
}
.panel-darkblue-1 {
    border-color: #1d1e20 !important;
}
.panel-darkblue-1 .panel-heading {
    background-color: #252932 !important;
    border-color: #1d1e20 !important;
    border-radius: 0px;
}
.panel-darkblue-1 .panel-heading a,
.panel-darkblue-1 .panel-title {
    color: #fff;
}
.widget.darkblue-1 {
    background-color: #252932;
    color: #fff;
}
.widget.darkblue-1 .widget-header h2 {
    color: #fff;
}
.bg-darkblue-2 {
    background-color: #4a525f !important;
}
.border-darkblue-2 {
    border-color: #4a525f !important;
}
.btn-darkblue-2 {
    background-color: #4a525f;
    color: #fff;
}
.btn-darkblue-2:hover {
    background-color: #464749 !important;
    color: #fff;
}
.text-darkblue-2 {
    color: #4a525f !important;
}
.panel-darkblue-2 {
    border-color: #464749 !important;
}
.panel-darkblue-2 .panel-heading {
    background-color: #4a525f !important;
    border-color: #464749 !important;
    border-radius: 0px;
}
.panel-darkblue-2 .panel-heading a,
.panel-darkblue-2 .panel-title {
    color: #fff;
}
.widget.darkblue-2 {
    background-color: #4a525f;
    color: #fff;
}
.widget.darkblue-2 .widget-header h2 {
    color: #fff;
}
.bg-darkblue-3 {
    background-color: #38464a !important;
}
.border-darkblue-3 {
    border-color: #38464a !important;
}
.btn-darkblue-3 {
    background-color: #38464a;
    color: #fff;
}
.btn-darkblue-3:hover {
    background-color: #323536 !important;
    color: #fff;
}
.text-darkblue-3 {
    color: #38464a !important;
}
.panel-darkblue-3 {
    border-color: #323536 !important;
}
.panel-darkblue-3 .panel-heading {
    background-color: #38464a !important;
    border-color: #323536 !important;
    border-radius: 0px;
}
.panel-darkblue-3 .panel-heading a,
.panel-darkblue-3 .panel-title {
    color: #fff;
}
.widget.darkblue-3 {
    background-color: #38464a;
    color: #fff;
}
.widget.darkblue-3 .widget-header h2 {
    color: #fff;
}
.bg-lightblue-1 {
    background-color: #abb7b7 !important;
}
.border-lightblue-1 {
    border-color: #abb7b7 !important;
}
.btn-lightblue-1 {
    background-color: #abb7b7;
    color: #fff;
}
.btn-lightblue-1:hover {
    background-color: #a4a4a4 !important;
    color: #fff;
}
.text-lightblue-1 {
    color: #abb7b7 !important;
}
.panel-lightblue-1 {
    border-color: #a4a4a4 !important;
}
.panel-lightblue-1 .panel-heading {
    background-color: #abb7b7 !important;
    border-color: #a4a4a4 !important;
    border-radius: 0px;
}
.panel-lightblue-1 .panel-heading a,
.panel-lightblue-1 .panel-title {
    color: #fff;
}
.widget.lightblue-1 {
    background-color: #abb7b7;
    color: #fff;
}
.widget.lightblue-1 .widget-header h2 {
    color: #fff;
}
.bg-lightblue-2 {
    background-color: #7a868f !important;
}
.border-lightblue-2 {
    border-color: #7a868f !important;
}
.btn-lightblue-2 {
    background-color: #7a868f;
    color: #fff;
}
.btn-lightblue-2:hover {
    background-color: #787878 !important;
    color: #fff;
}
.text-lightblue-2 {
    color: #7a868f !important;
}
.panel-lightblue-2 {
    border-color: #787878 !important;
}
.panel-lightblue-2 .panel-heading {
    background-color: #7a868f !important;
    border-color: #787878 !important;
    border-radius: 0px;
}
.panel-lightblue-2 .panel-heading a,
.panel-lightblue-2 .panel-title {
    color: #fff;
}
.widget.lightblue-2 {
    background-color: #7a868f;
    color: #fff;
}
.widget.lightblue-2 .widget-header h2 {
    color: #fff;
}
.bg-orange-1 {
    background-color: #e84c3d !important;
}
.border-orange-1 {
    border-color: #e84c3d !important;
}
.btn-orange-1 {
    background-color: #e84c3d;
    color: #fff;
}
.btn-orange-1:hover {
    background-color: #d94132 !important;
    color: #fff;
}
.text-orange-1 {
    color: #e84c3d !important;
}
.panel-orange-1 {
    border-color: #d94132 !important;
}
.panel-orange-1 .panel-heading {
    background-color: #e84c3d !important;
    border-color: #d94132 !important;
    border-radius: 0px;
}
.panel-orange-1 .panel-heading a,
.panel-orange-1 .panel-title {
    color: #fff;
}
.widget.orange-1 {
    background-color: #e84c3d;
    color: #fff;
}
.widget.orange-1 .widget-header h2 {
    color: #fff;
}
.bg-orange-2 {
    background-color: #de745e !important;
}
.border-orange-2 {
    border-color: #de745e !important;
}
.btn-orange-2 {
    background-color: #de745e;
    color: #fff;
}
.btn-orange-2:hover {
    background-color: #cf6954 !important;
    color: #fff;
}
.text-orange-2 {
    color: #de745e !important;
}
.panel-orange-2 {
    border-color: #cf6954 !important;
}
.panel-orange-2 .panel-heading {
    background-color: #de745e !important;
    border-color: #cf6954 !important;
    border-radius: 0px;
}
.panel-orange-2 .panel-heading a,
.panel-orange-2 .panel-title {
    color: #fff;
}
.widget.orange-2 {
    background-color: #de745e;
    color: #fff;
}
.widget.orange-2 .widget-header h2 {
    color: #fff;
}
.bg-orange-3 {
    background-color: #e27a3f !important;
}
.border-orange-3 {
    border-color: #e27a3f !important;
}
.btn-orange-3 {
    background-color: #e27a3f;
    color: #fff;
}
.btn-orange-3:hover {
    background-color: #d26e35 !important;
    color: #fff;
}
.text-orange-3 {
    color: #e27a3f !important;
}
.panel-orange-3 {
    border-color: #d26e35 !important;
}
.panel-orange-3 .panel-heading {
    background-color: #e27a3f !important;
    border-color: #d26e35 !important;
    border-radius: 0px;
}
.panel-orange-3 .panel-heading a,
.panel-orange-3 .panel-title {
    color: #fff;
}
.widget.orange-3 {
    background-color: #e27a3f;
    color: #fff;
}
.widget.orange-3 .widget-header h2 {
    color: #fff;
}
.bg-orange-4 {
    background-color: #edce8c !important;
}
.border-orange-4 {
    border-color: #edce8c !important;
}
.btn-orange-4 {
    background-color: #edce8c;
    color: #fff;
}
.btn-orange-4:hover {
    background-color: #e2c27e !important;
    color: #fff;
}
.text-orange-4 {
    color: #edce8c !important;
}
.panel-orange-4 {
    border-color: #e2c27e !important;
}
.panel-orange-4 .panel-heading {
    background-color: #edce8c !important;
    border-color: #e2c27e !important;
    border-radius: 0px;
}
.panel-orange-4 .panel-heading a,
.panel-orange-4 .panel-title {
    color: #333;
}
.widget.orange-4 {
    background-color: #edce8c;
    color: #333;
}
.widget.orange-4 .widget-header h2 {
    color: #333;
}
.bg-green-1 {
    background-color: #68c39f !important;
}
.border-green-1 {
    border-color: #68c39f !important;
}
.btn-green-1 {
    background-color: #68c39f;
    color: #fff;
}
.btn-green-1:hover {
    background-color: #62b091 !important;
    color: #fff;
}
.text-green-1 {
    color: #68c39f !important;
}
.panel-green-1 {
    border-color: #62b091 !important;
}
.panel-green-1 .panel-heading {
    background-color: #68c39f !important;
    border-color: #62b091 !important;
    border-radius: 0px;
}
.panel-green-1 .panel-heading a,
.panel-green-1 .panel-title {
    color: #fff;
}
.widget.green-1 {
    background-color: #68c39f;
    color: #fff;
}
.widget.green-1 .widget-header h2 {
    color: #fff;
}
.bg-green-2 {
    background-color: #9ec789 !important;
}
.border-green-2 {
    border-color: #9ec789 !important;
}
.btn-green-2 {
    background-color: #9ec789;
    color: #fff;
}
.btn-green-2:hover {
    background-color: #93b582 !important;
    color: #fff;
}
.text-green-2 {
    color: #9ec789 !important;
}
.panel-green-2 {
    border-color: #93b582 !important;
}
.panel-green-2 .panel-heading {
    background-color: #9ec789 !important;
    border-color: #93b582 !important;
    border-radius: 0px;
}
.panel-green-2 .panel-heading a,
.panel-green-2 .panel-title {
    color: #fff;
}
.widget.green-2 {
    background-color: #9ec789;
    color: #fff;
}
.widget.green-2 .widget-header h2 {
    color: #fff;
}
.bg-green-3 {
    background-color: #209c83 !important;
}
.border-green-3 {
    border-color: #209c83 !important;
}
.btn-green-3 {
    background-color: #209c83;
    color: #fff;
}
.btn-green-3:hover {
    background-color: #247f6c !important;
    color: #fff;
}
.text-green-3 {
    color: #209c83 !important;
}
.panel-green-3 {
    border-color: #247f6c !important;
}
.panel-green-3 .panel-heading {
    background-color: #209c83 !important;
    border-color: #247f6c !important;
    border-radius: 0px;
}
.panel-green-3 .panel-heading a,
.panel-green-3 .panel-title {
    color: #fff;
}
.widget.green-3 {
    background-color: #209c83;
    color: #fff;
}
.widget.green-3 .widget-header h2 {
    color: #fff;
}
.bg-pink-1 {
    background-color: #f57a82 !important;
}
.border-pink-1 {
    border-color: #f57a82 !important;
}
.btn-pink-1 {
    background-color: #f57a82;
    color: #fff;
}
.btn-pink-1:hover {
    background-color: #eb6b73 !important;
    color: #fff;
}
.text-pink-1 {
    color: #f57a82 !important;
}
.panel-pink-1 {
    border-color: #eb6b73 !important;
}
.panel-pink-1 .panel-heading {
    background-color: #f57a82 !important;
    border-color: #eb6b73 !important;
    border-radius: 0px;
}
.panel-pink-1 .panel-heading a,
.panel-pink-1 .panel-title {
    color: #333;
}
.widget.pink-1 {
    background-color: #f57a82;
    color: #333;
}
.widget.pink-1 .widget-header h2 {
    color: #333;
}
.bg-pink-2 {
    background-color: #f56f6c !important;
}
.border-pink-2 {
    border-color: #f56f6c !important;
}
.btn-pink-2 {
    background-color: #f56f6c;
    color: #fff;
}
.btn-pink-2:hover {
    background-color: #ea605d !important;
    color: #fff;
}
.text-pink-2 {
    color: #f56f6c !important;
}
.panel-pink-2 {
    border-color: #ea605d !important;
}
.panel-pink-2 .panel-heading {
    background-color: #f56f6c !important;
    border-color: #ea605d !important;
    border-radius: 0px;
}
.panel-pink-2 .panel-heading a,
.panel-pink-2 .panel-title {
    color: #fff;
}
.widget.pink-2 {
    background-color: #f56f6c;
    color: #fff;
}
.widget.pink-2 .widget-header h2 {
    color: #fff;
}
.bg-yellow-1 {
    background-color: #f4cda5 !important;
}
.border-yellow-1 {
    border-color: #f4cda5 !important;
}
.btn-yellow-1 {
    background-color: #f4cda5;
    color: #fff;
}
.btn-yellow-1:hover {
    background-color: #ebc095 !important;
    color: #fff;
}
.text-yellow-1 {
    color: #f4cda5 !important;
}
.panel-yellow-1 {
    border-color: #ebc095 !important;
}
.panel-yellow-1 .panel-heading {
    background-color: #f4cda5 !important;
    border-color: #ebc095 !important;
    border-radius: 0px;
}
.panel-yellow-1 .panel-heading a,
.panel-yellow-1 .panel-title {
    color: #333;
}
.widget.yellow-1 {
    background-color: #f4cda5;
    color: #333;
}
.widget.yellow-1 .widget-header h2 {
    color: #333;
}
.bg-yellow-2 {
    background-color: #eae696 !important;
}
.border-yellow-2 {
    border-color: #eae696 !important;
}
.btn-yellow-2 {
    background-color: #eae696;
    color: #fff;
}
.btn-yellow-2:hover {
    background-color: #deda88 !important;
    color: #fff;
}
.text-yellow-2 {
    color: #eae696 !important;
}
.panel-yellow-2 {
    border-color: #deda88 !important;
}
.panel-yellow-2 .panel-heading {
    background-color: #eae696 !important;
    border-color: #deda88 !important;
    border-radius: 0px;
}
.panel-yellow-2 .panel-heading a,
.panel-yellow-2 .panel-title {
    color: #333;
}
.widget.yellow-2 {
    background-color: #eae696;
    color: #333;
}
.widget.yellow-2 .widget-header h2 {
    color: #333;
}

body.modal-open .datepicker, body.modal-open .bootstrap-timepicker-widget {
    /*z-index: 11500 !important;*/
}

/* button colors from old site */
.btn{
    color: #fff;}
.btn-purple, .btn-purple:focus {
    background-color: #9585bf !important;
    border-color: #9585bf
}
.btn-purple:hover, .btn-purple:active, .open .btn-purple.dropdown-toggle {
    background-color: #7461aa !important;
    border-color: #9585bf
}
.btn-purple.no-border:hover, .btn-purple.no-border:active {
    border-color: #7461aa
}
.btn-purple.no-hover:hover, .btn-purple.no-hover:active {
    background-color: #9585bf !important
}
.btn-purple.active {
    background-color: #8573b5 !important;
    border-color: #705ca8
}
.btn-purple.no-border.active {
    background-color: #7c69af !important;
    border-color: #7c69af
}
.btn-purple.disabled, .btn-purple[disabled], fieldset[disabled] .btn-purple, .btn-purple.disabled:hover, .btn-purple[disabled]:hover, fieldset[disabled] .btn-purple:hover, .btn-purple.disabled:focus, .btn-purple[disabled]:focus, fieldset[disabled] .btn-purple:focus, .btn-purple.disabled:active, .btn-purple[disabled]:active, fieldset[disabled] .btn-purple:active, .btn-purple.disabled.active, .btn-purple[disabled].active, fieldset[disabled] .btn-purple.active {
    background-color: #9585bf !important;
    border-color: #9585bf
}

.btn-pink, .btn-pink:focus {
    background-color: #d6487e !important;
    border-color: #d6487e
}
.btn-pink:hover, .btn-pink:active, .open .btn-pink.dropdown-toggle {
    background-color: #b73766 !important;
    border-color: #d6487e
}
.btn-pink.no-border:hover, .btn-pink.no-border:active {
    border-color: #b73766
}
.btn-pink.no-hover:hover, .btn-pink.no-hover:active {
    background-color: #d6487e !important
}
.btn-pink.active {
    background-color: #c74072 !important;
    border-color: #af3462
}
.btn-pink.no-border.active {
    background-color: #be386a !important;
    border-color: #be386a
}
.btn-pink.disabled, .btn-pink[disabled], fieldset[disabled] .btn-pink, .btn-pink.disabled:hover, .btn-pink[disabled]:hover, fieldset[disabled] .btn-pink:hover, .btn-pink.disabled:focus, .btn-pink[disabled]:focus, fieldset[disabled] .btn-pink:focus, .btn-pink.disabled:active, .btn-pink[disabled]:active, fieldset[disabled] .btn-pink:active, .btn-pink.disabled.active, .btn-pink[disabled].active, fieldset[disabled] .btn-pink.active {
    background-color: #d6487e !important;
    border-color: #d6487e
}

.btn-primary, .btn-primary:focus {
    background-color: #428bca !important;
    border-color: #428bca
}
.btn-primary:hover, .btn-primary:active, .open .btn-primary.dropdown-toggle {
    background-color: #1b6aaa !important;
    border-color: #428bca
}
.btn-primary.no-border:hover, .btn-primary.no-border:active {
    border-color: #1b6aaa
}
.btn-primary.no-hover:hover, .btn-primary.no-hover:active {
    background-color: #428bca !important
}
.btn-primary.active {
    background-color: #2f7bba !important;
    border-color: #27689d
}
.btn-primary.no-border.active {
    background-color: #2b72ae !important;
    border-color: #2b72ae
}
.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active {
    background-color: #428bca !important;
    border-color: #428bca
}

.btn-default, .btn-default:focus {
    background-color: #abbac3 !important;
    border-color: #abbac3
}
.btn:hover, .btn-default:hover, .btn:active, .btn-default:active, .open .btn.dropdown-toggle, .open .btn-default.dropdown-toggle {
    color: #FFFFFF;
}

.dark {
    color: #333 !important
}
.white {
    color: #fff !important
}
.red {
    color: #dd5a43 !important
}
.red2 {
    color: #e08374 !important
}
.light-red {
    color: #f77 !important
}
.blue {
    color: #478fca !important
}
.light-blue {
    color: #93cbf9 !important
}
.green {
    color: #69aa46 !important
}
.light-green {
    color: #b0d877 !important
}
.orange {
    color: #ff892a !important
}
.orange2 {
    color: #feb902 !important
}
.light-orange {
    color: #fcac6f !important
}
.purple {
    color: #a069c3 !important
}
.pink {
    color: #c6699f !important
}
.pink2 {
    color: #d6487e !important
}
.brown {
    color: #a52a2a !important
}
.grey {
    color: #777 !important
}
.light-grey {
    color: #bbb !important
}
/* Drop menu */
.dropdown-menu {
    min-width: 200px;
}
.dropdown-menu.columns-2 {
    min-width: 400px;
}
.dropdown-menu.columns-3 {
    min-width: 600px;
}
.dropdown-menu li a {
    padding: 5px 15px;
    font-weight: 300;
}
.multi-column-dropdown {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.multi-column-dropdown li a {
    display: block;
    clear: both;
    line-height: 1.428571429;
    color: #333;
    white-space: normal;
}
.multi-column-dropdown li a:hover {
    text-decoration: none;
    color: #262626;
    background-color: #999;
}

@media (max-width: 767px) {
    .dropdown-menu.multi-column {
        min-width: 240px !important;
        overflow-x: hidden;
    }
}

.xdsoft_datetimepicker {
    z-index: 110000 !important;}

/* Week calendar */
 .weeksched  {
    font-family: sans-serif;
    width: 100%;
    border-spacing: 0;
    border-collapse: separate;
    table-layout: fixed;
    margin-bottom: 50px;
     font-size: 14px;
}
 .weeksched thead tr th {
    background: #25628C;
    color: #d1d5db;
    padding: 0.5em;
    overflow: hidden;
    text-align: center;
}
 .weeksched thead tr th:first-child {
    border-radius: 3px 0 0 0;
}
 .weeksched thead tr th:last-child {
    border-radius: 0 3px  0 0;
}
 .weeksched thead tr th .day {
    display: block;
    font-size: 1.2em;
    border-radius: 5%;
    width: 90px;
    height: 30px;
    margin: 0 auto 5px;
    padding: 5px;
    line-height: 1.8;
}
 .weeksched thead tr th .day.active {
    background: #d1d5db;
    color: #626E7E;
}
 .weeksched thead tr th .short {
    display: none;
}
 .weeksched thead tr th i {
    vertical-align: middle;
    font-size: 2em;
}
 .weeksched tbody tr {
    background: #FFF;
}
 .weeksched tbody tr:nth-child(odd) {
    background: #d1d5db;
}
 /*
 .weeksched tbody tr:nth-child(4n+0) td {
    border-bottom: 1px solid #626E7E;
}
 */
.weeksched tbody tr td{
    border-bottom: 1px solid #626E7E;
}
 .weeksched tbody tr td {
    text-align: center;
    vertical-align: middle;
    border-left: 1px solid #626E7E;
    position: relative;
    height: 32px;
    cursor: pointer;

}
 .weeksched tbody tr td:last-child {
    border-right: 1px solid #626E7E;
}
 .weeksched tbody tr td.hour {


    color: #626E7E;
    background: #fff;
    border-bottom: 1px solid #626E7E;
    border-collapse: separate;
    min-width: 100px;
    cursor: default;
    text-align: left;
    padding: 2px;
}
 .weeksched tbody tr td.hour span {
    display: block;
}
@media (max-width: 60em) {
     .weeksched thead tr th .long {
        display: none;
    }
     .weeksched thead tr th .short {
        display: block;
    }
     .weeksched tbody tr td.hour span {
        transform: rotate(270deg);
        -webkit-transform: rotate(270deg);
        -moz-transform: rotate(270deg);
    }
}
@media (max-width: 27em) {
     .weeksched thead tr th {
        font-size: 65%;
    }
     .weeksched thead tr th .day {
        display: block;
        font-size: 1.2em;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        margin: 0 auto 5px;
        padding: 5px;
    }
     .weeksched thead tr th .day.active {
        background: #d1d5db;
        color: #626E7E;
    }
     .weeksched tbody tr td.hour {

    }
     .weeksched tbody tr td.hour span {
        transform: translateY(16px) rotate(270deg);
        -webkit-transform: translateY(16px) rotate(270deg);
        -moz-transform: translateY(16px) rotate(270deg);
    }
}

/* Preloader images */
/* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript,
if it's not present, don't show loader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    opacity:0.7;
    background: url(../images/Preloader_2.gif) center no-repeat #fff;
}

.table-chc th {
    border-top:1px solid #ddd;
    font-weight:bold;
    /* background-color: #81a88b; */
    background-color: #25628C;
    color: #FFFFFF;

}



.gold {
    color:#ffb752
}

.chc-warning, .ws-warning{background-color: #fcf8e3 !important;}
.chc-danger{background-color: #f2dede !important;}
.chc-success{background-color: #dff0d8 !important;}
.chc-info{background-color: #d9edf7 !important;}

th a{
    color: #fff !important;}

.popover {
    z-index: 12002 !important;}

/* Stacked modals */
/* distance between stacked modals*/
/* The first modal translateZ value*/
.modal.in {
    -webkit-perspective: 2000px;
    -moz-perspective: 2000px;
    -ms-perspective: 2000px;
    -o-perspective: 2000px;
    perspective: 2000px;
}
.modal.in .modal-dialog.aside {
    -webkit-transform: -340px;
    -moz-transform: -340px;
    -ms-transform: -340px;
    -o-transform: -340px;
    transform: -340px;
    -webkit-transform: scale(0.8) rotateY(45deg) translateZ(-340px);
    -ms-transform: scale(0.8) rotateY(45deg) translateZ(-340px);
    -o-transform: scale(0.8) rotateY(45deg) translateZ(-340px);
    transform: scale(0.8) rotateY(45deg) translateZ(-340px);
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.modal.in .modal-dialog.aside.aside-1 {
    -webkit-transform: calc(-300px);
    -moz-transform: calc(-300px);
    -ms-transform: calc(-300px);
    -o-transform: calc(-300px);
    transform: calc(-300px);
    -webkit-transform: scale(0.8) rotateY(45deg) translateZ(calc(-300px));
    -ms-transform: scale(0.8) rotateY(45deg) translateZ(calc(-300px));
    -o-transform: scale(0.8) rotateY(45deg) translateZ(calc(-300px));
    transform: scale(0.8) rotateY(45deg) translateZ(calc(-300px));
}
.modal.in .modal-dialog.aside.aside-2 {
    -webkit-transform: calc(-260px);
    -moz-transform: calc(-260px);
    -ms-transform: calc(-260px);
    -o-transform: calc(-260px);
    transform: calc(-260px);
    -webkit-transform: scale(0.8) rotateY(45deg) translateZ(calc(-260px));
    -ms-transform: scale(0.8) rotateY(45deg) translateZ(calc(-260px));
    -o-transform: scale(0.8) rotateY(45deg) translateZ(calc(-260px));
    transform: scale(0.8) rotateY(45deg) translateZ(calc(-260px));
}
.modal.in .modal-dialog.aside.aside-3 {
    -webkit-transform: calc(-220px);
    -moz-transform: calc(-220px);
    -ms-transform: calc(-220px);
    -o-transform: calc(-220px);
    transform: calc(-220px);
    -webkit-transform: scale(0.8) rotateY(45deg) translateZ(calc(-220px));
    -ms-transform: scale(0.8) rotateY(45deg) translateZ(calc(-220px));
    -o-transform: scale(0.8) rotateY(45deg) translateZ(calc(-220px));
    transform: scale(0.8) rotateY(45deg) translateZ(calc(-220px));
}
.modal.in .modal-dialog.aside.aside-4 {
    -webkit-transform: calc(-180px);
    -moz-transform: calc(-180px);
    -ms-transform: calc(-180px);
    -o-transform: calc(-180px);
    transform: calc(-180px);
    -webkit-transform: scale(0.8) rotateY(45deg) translateZ(calc(-180px));
    -ms-transform: scale(0.8) rotateY(45deg) translateZ(calc(-180px));
    -o-transform: scale(0.8) rotateY(45deg) translateZ(calc(-180px));
    transform: scale(0.8) rotateY(45deg) translateZ(calc(-180px));
}
.modal.in .modal-dialog.aside.aside-5 {
    -webkit-transform: calc(-140px);
    -moz-transform: calc(-140px);
    -ms-transform: calc(-140px);
    -o-transform: calc(-140px);
    transform: calc(-140px);
    -webkit-transform: scale(0.8) rotateY(45deg) translateZ(calc(-140px));
    -ms-transform: scale(0.8) rotateY(45deg) translateZ(calc(-140px));
    -o-transform: scale(0.8) rotateY(45deg) translateZ(calc(-140px));
    transform: scale(0.8) rotateY(45deg) translateZ(calc(-140px));
}

.badge {
   /* position: absolute; */
    padding: 2px;
    font-size: 10px;
    right: 6px;
    top: 6px;
    min-width: 17px;
    line-height: 12px;
}

.form-checkbox {
	margin:6px auto 18px !important;
}
.form-checkbox-sing {
	margin:10px auto 18px !important;
}
.control-label-checkbox {
	display:block !important;
}
.dl-horizontal .orgfields { 
	text-align: left !important; 
}

/**
 * Nestable
 */
.dd {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}
.dd-list {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
}
.dd-list .dd-list {
    padding-left: 30px;
}
.dd-collapsed .dd-list {
    display: none;
}
.dd-item,
.dd-empty,
.dd-placeholder {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 20px;
    font-size: 13px;
    line-height: 20px;
}
.dd-handle,
.dd-content {
    display: block;
    margin: 0px 0;
    padding: 5px 10px;
    background: #fafafa;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #ebebeb;
    -moz-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
dd-content,
.dd-content:hover {
    background: #fff;
}
.dd-item > button {
    display: block;
    position: relative;
    cursor: pointer;
    float: left;
    width: 25px;
    height: 20px;
    margin: 5px 0;
    padding: 0;
    text-indent: -9999px;
    white-space: nowrap;
    overflow: visible;
    border: 0;
    background: transparent;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    font-weight: bold;
    margin-right: 10px;
    outline: 0;
}
.dd-item > button:after {
    content: '';
    display: block;
    position: absolute;
    right: 0px;
    top: -5px;
    bottom: -6px;
    width: 1px;
    background: #ebebeb;
}
.dd-item > button:before {
    content: '+';
    display: block;
    position: absolute;
    width: 100%;
    text-align: center;
    text-indent: 0;
}
.dd-item > button[data-action="collapse"]:before {
    content: '-';
}
.dd-placeholder,
.dd-empty {
    margin: 0px 0;
    padding: 0;
    min-height: 30px;
    background: rgba(245, 245, 246, 0.3);
    border: 1px dotted #ebebeb;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.dd-empty {
    border: 1px dashed #bbb;
    min-height: 100px;
    background-color: #e5e5e5;
}
.dd-dragel {
    position: absolute;
    pointer-events: none;
    z-index: 99999;
}
.dd-dragel > .dd-item .dd-handle,
.dd-dragel > .dd-item .dd-content {
    margin-top: 0;
}
.dd-dragel .dd-handle,
.dd-dragel .dd-content {
    -moz-box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.1);
}
.nested-list.with-margins .dd-item .dd-handle,
.nested-list.with-margins .dd-item .dd-content {
    margin: 5px 0;
}
.nested-list.custom-drag-button .dd-handle {
    position: absolute !important;
    margin: 0 !important;
    width: 15px;
    height: 32px;
    padding-left: 5px;
    padding-right: 4px;
    cursor: pointer;
    padding-top: 7px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.nested-list.custom-drag-button .dd-handle span {
    display: block;
    line-height: 3px;
    color: rgba(115, 120, 129, 0.7);
}
.nested-list.custom-drag-button .dd-content {
    padding-left: 25px;
}
.nested-list.custom-drag-button button + .dd-handle {
    left: 24px;
}
.nested-list.custom-drag-button button + .dd-handle + .dd-content {
    padding-left: 50px;
}
.nested-list.custom-drag-button.drag-button-on-hover .dd-item > .dd-handle {
    zoom: 1;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    filter: alpha(opacity=0);
}
.nested-list.custom-drag-button.drag-button-on-hover .dd-item:hover > .dd-handle {
    zoom: 1;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    filter: alpha(opacity=100);
}
.custom-handler .dd-item .dd-handle {
    position: absolute !important;
    margin: 0 !important;
    width: 15px;
    height: 32px;
    padding-left: 5px;
    padding-right: 4px;
    cursor: pointer;
    padding-top: 7px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.custom-handler .dd-item .dd-handle span {
    display: block;
    line-height: 3px;
    color: rgba(115, 120, 129, 0.7);
}
.custom-handler .dd-item .dd-content {
    padding-left: 25px;
}
.custom-handler .dd-item button + .dd-handle {
    left: 24px;
}
.custom-handler .dd-item button + .dd-handle + .dd-content {
    padding-left: 50px;
}

.rpt-list-start .label-primary {
	background-color: #337ab7 !important;
}

.rpt-list-start {
	border-top: 2px solid #888888;
}
.rpt-list-badge {
	margin-top: 3px;
	margin-left: -1px;
}

.rpt-list {
    height: 100%;
    width: 100%;
    padding: 3px 5px;
    margin: 0px;
}

.col-rpt-list {
	width: 25%;
	padding: 5px 1px !important;
}

.rpt-list-hourlog {
	padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.rpt-list-incidents {
	padding: 4px 0px 0px 4px;
}
.rpt-list-notes.bg-success {
	background-color: #dff0d8 !important;
}
.rpt-list-notes.bg-info {
	background-color: #d9edf7 !important;
}
.rpt-list-notes.bg-warning {
	background-color: #fcf8e3 !important;
}
.rpt-list-notes.bg-danger {
	background-color: #f2dede !important;
}

/**
 * Nestable
 */
.dd {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}
.dd-list {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
}
.dd-list .dd-list {
    padding-left: 30px;
}
.dd-collapsed .dd-list {
    display: none;
}
.dd-item,
.dd-empty,
.dd-placeholder {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 20px;
    font-size: 13px;
    line-height: 20px;
}
.dd-handle,
.dd-content {
    display: block;
    margin: 0px 0;
    padding: 5px 10px;
    background: #fafafa;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #ebebeb;
    -moz-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
dd-content,
.dd-content:hover {
    background: #fff;
}
.dd-item > button {
    display: block;
    position: relative;
    cursor: pointer;
    float: left;
    width: 25px;
    height: 20px;
    margin: 5px 0;
    padding: 0;
    text-indent: -9999px;
    white-space: nowrap;
    overflow: visible;
    border: 0;
    background: transparent;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    font-weight: bold;
    margin-right: 10px;
    outline: 0;
}
.dd-item > button:after {
    content: '';
    display: block;
    position: absolute;
    right: 0px;
    top: -5px;
    bottom: -6px;
    width: 1px;
    background: #ebebeb;
}
.dd-item > button:before {
    content: '+';
    display: block;
    position: absolute;
    width: 100%;
    text-align: center;
    text-indent: 0;
}
.dd-item > button[data-action="collapse"]:before {
    content: '-';
}
.dd-placeholder,
.dd-empty {
    margin: 0px 0;
    padding: 0;
    min-height: 30px;
    background: rgba(245, 245, 246, 0.3);
    border: 1px dotted #ebebeb;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.dd-empty {
    border: 1px dashed #bbb;
    min-height: 100px;
    background-color: #e5e5e5;
}
.dd-dragel {
    position: absolute;
    pointer-events: none;
    z-index: 99999;
}
.dd-dragel > .dd-item .dd-handle,
.dd-dragel > .dd-item .dd-content {
    margin-top: 0;
}
.dd-dragel .dd-handle,
.dd-dragel .dd-content {
    -moz-box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.1);
}
.nested-list.with-margins .dd-item .dd-handle,
.nested-list.with-margins .dd-item .dd-content {
    margin: 5px 0;
}
.nested-list.custom-drag-button .dd-handle {
    position: absolute !important;
    margin: 0 !important;
    width: 15px;
    height: 32px;
    padding-left: 5px;
    padding-right: 4px;
    cursor: pointer;
    padding-top: 7px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.nested-list.custom-drag-button .dd-handle span {
    display: block;
    line-height: 3px;
    color: rgba(115, 120, 129, 0.7);
}
.nested-list.custom-drag-button .dd-content {
    padding-left: 25px;
}
.nested-list.custom-drag-button button + .dd-handle {
    left: 24px;
}
.nested-list.custom-drag-button button + .dd-handle + .dd-content {
    padding-left: 50px;
}
.nested-list.custom-drag-button.drag-button-on-hover .dd-item > .dd-handle {
    zoom: 1;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    filter: alpha(opacity=0);
}
.nested-list.custom-drag-button.drag-button-on-hover .dd-item:hover > .dd-handle {
    zoom: 1;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    filter: alpha(opacity=100);
}
.custom-handler .dd-item .dd-handle {
    position: absolute !important;
    margin: 0 !important;
    width: 15px;
    height: 32px;
    padding-left: 5px;
    padding-right: 4px;
    cursor: pointer;
    padding-top: 7px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.custom-handler .dd-item .dd-handle span {
    display: block;
    line-height: 3px;
    color: rgba(115, 120, 129, 0.7);
}
.custom-handler .dd-item .dd-content {
    padding-left: 25px;
}
.custom-handler .dd-item button + .dd-handle {
    left: 24px;
}
.custom-handler .dd-item button + .dd-handle + .dd-content {
    padding-left: 50px;
}

.rpt-list-start .label-primary {
	background-color: #337ab7 !important;
}

.rpt-list-start {
	border-top: 2px solid #888888;
}
.rpt-list-badge {
	margin-top: 3px;
	margin-left: -1px;
}

.rpt-list {
    height: 100%;
    width: 100%;
    padding: 3px 5px;
    margin: 0px;
}

.col-rpt-list {
	width: 25%;
	padding: 5px 1px !important;
}

.rpt-list-hourlog {
	padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.rpt-list-incidents {
	padding: 4px 0px 0px 4px;
}
.rpt-list-notes.bg-success {
	background-color: #dff0d8 !important;
}
.rpt-list-notes.bg-info {
	background-color: #d9edf7 !important;
}
.rpt-list-notes.bg-warning {
	background-color: #fcf8e3 !important;
}
.rpt-list-notes.bg-danger {
	background-color: #f2dede !important;
}

.select2-search__field{
    width: 200px !important;}

.row.no-gutter {
    margin-left: 0;
    margin-right: 0;
}
.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
    padding-right: 0;
    padding-left: 0;
}

.daterangepicker.dropdown-menu {
    max-width: none;
    z-index: 9999999;
}

/* availability */
.availablestripes {
    min-height: 100%;
    width: 100%;
    position: relative;
    background: repeating-linear-gradient(
            45deg,
            #b6d1aa,
            #b6d1aa 5px,
            #daead2 5px,
            #daead2 10px
    );
}

.availablestripes-small {
    height: 50px;
    width: 100%;
    position: relative;
    background: repeating-linear-gradient(
            45deg,
            #b6d1aa,
            #b6d1aa 5px,
            #daead2 5px,
            #daead2 10px
    );
}

.minavailablestripes {
    height: 100%;
    width: 100%;
    position: relative;
    background: repeating-linear-gradient(
            45deg,
            #eaebea,
            #eaebea 5px,
            #e1e0e0 5px,
            #e1e0e0 10px
    );
}

.minavailablestripes-small {
    height: 30px;
    width: 100%;
    position: relative;
    background: repeating-linear-gradient(
            45deg,
            #eaebea,
            #eaebea 5px,
            #e1e0e0 5px,
            #e1e0e0 10px
    );
}



.unavailablestripes {
    position: relative;
    background: repeating-linear-gradient(
            45deg,
            #f7999e,
            #f7999e 5px,
            #f57a82 5px,
            #f57a82 10px
    );

}

.vacationstripes {
    position: relative;
    background: repeating-linear-gradient(
            45deg,
            #a4bdfc,
            #a4bdfc 5px,
            #97b2f7 5px,
            #97b2f7 10px
    );

}

.timespan{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2px;
    background: #fffced;
    border: 1px solid #dedede;
}

.timespan-large{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2px;
    background: #fffced;
    border: 1px solid #dedede;
    min-width: 100px;
}

.profile-env section.profile-info-tabs {
    padding-bottom:0px !important;
}

#history_detail_table_wrapper {
    overflow-x : scroll;
}

#history_summary_table_wrapper{
    overflow-x: scroll;
}

#history_summary_graph  svg{
    width: 100% !important;
    height: 100% !important;
}

.d-none{
    display: none;
}

#scheduler_search_form label{
    display: none;
}