.d-flex {
    display: flex;
}

.flex-fill {
    flex: 1 1 auto !important;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}

.d-inline-block {
    display: inline-block;
}

.mx-auto {
    margin-right: auto;
    margin-left: auto;
}

.mr-1 {
    margin-right: 5px;
}

.ml-1 {
    margin-left: 5px;
}

.mb-1 {
    margin-bottom: 5px;
}

.p-1 {
    padding: 5px;
}

.p-2 {
    padding: 10px;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.rounded {
    border-radius: 4px;
}

.text-dark {
    color: #333;
}

.indicator {
    display: inline-flex;
    transform: scale(2);
    margin-right: 15px;
}

.indicator svg polyline {
    fill: none;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.indicator svg polyline#back {
    stroke: rgba(117, 169, 73, .3);
}

.indicator svg polyline#front {
    stroke: #75A949;
    stroke-dasharray: 12, 36;
    stroke-dashoffset: 48;
    -webkit-animation: dash 1s linear infinite;
            animation: dash 1s linear infinite;
}

.cta {
    position: fixed;
    bottom: 20px;
    right: 30px;
    color: #222;
    font-weight: bold;
}

@-webkit-keyframes dash {
    62.5% {
        opacity: 0;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes dash {
    62.5% {
        opacity: 0;
    }
    to {
        stroke-dashoffset: 0;
    }
}

