<template>
  <div class = "w-full flex justify-between my-6">
    <div class = "flex items-center">
      <div class = "font-bold text-2xl">Standard Settings</div>
    </div>
    <div class = "flex">

      <div class = "flex w-full items-center text-white bg-chc-signInColor py-2 px-5 rounded hover:bg-chc-yearsHoverColor cursor-pointer" @click="saveForm()" >
        Update
      </div>
    </div>
  </div>


  <div v-if="$parent.isLoadingStandard">
    <div class="border-b-2" v-for="i in 7">
      <div class="ml-5 flex items-center px-2 py-4">
        <Skeletor circle size="20" />
        <div class="ml-2 w-80">
          <Skeletor width="50%" />
        </div>
      </div>
    </div>
  </div>

  <form v-on:submit.prevent="saveForm" v-else>
<div v-if="standarddata" >

  <div class = "flex  items-center border-b-2 h-16" >
    <div class="flex-none w-16">
      <toggle :default-state="true" v-if="stime.day1_state == 1"></toggle>
      <toggle :default-state="false" v-else></toggle>
    </div>
    <div class = "font-bold ml-5 flex-1">{{ stime.day1_week_day }}</div>
    <div class="ml-5 flex-auto">From <input type="time" class="form-input px-2 py-2 rounded-full"  v-model="stime.day1_from_hour"></div>
    <div class="ml-5 flex-auto">To <input type="time"  class="form-input px-2 py-2 rounded-full"  v-model="stime.day1_to_hour"></div>


  </div>

  <div class = "flex  items-center border-b-2 h-16" >
    <div class="flex-none w-16">
      <toggle :default-state="true" v-if="stime.day2_state == 1"></toggle>
      <toggle :default-state="false" v-else></toggle>
    </div>
    <div class = "font-bold ml-5 flex-1">{{ stime.day2_week_day }}</div>
    <div class="ml-5 flex-auto">From <input type="time" class="form-input px-2 py-2 rounded-full"  v-model="stime.day2_from_hour"></div>
    <div class="ml-5 flex-auto">To <input type="time" class="form-input px-2 py-2 rounded-full"  v-model="stime.day2_to_hour"></div>


  </div>

  <div class = "flex  items-center border-b-2 h-16" >
    <div class="flex-none w-16">
      <toggle :default-state="true" v-if="stime.day3_state == 1"></toggle>
      <toggle :default-state="false" v-else></toggle>
    </div>
    <div class = "font-bold ml-5 flex-1">{{ stime.day3_week_day }}</div>
    <div class="ml-5 flex-auto">From <input type="time" class="form-input px-2 py-2 rounded-full"  v-model="stime.day3_from_hour"></div>
    <div class="ml-5 flex-auto">To <input type="time"  class="form-input px-2 py-2 rounded-full"  v-model="stime.day3_to_hour"></div>


  </div>

  <div class = "flex  items-center border-b-2 h-16" >
    <div class="flex-none w-16">
      <toggle :default-state="true" v-if="stime.day4_state == 1"></toggle>
      <toggle :default-state="false" v-else></toggle>
    </div>
    <div class = "font-bold ml-5 flex-1">{{ stime.day4_week_day }}</div>
    <div class="ml-5 flex-auto">From <input type="time" class="form-input px-2 py-2 rounded-full"  v-model="stime.day4_from_hour"></div>
    <div class="ml-5 flex-auto">To <input type="time"  class="form-input px-2 py-2 rounded-full"  v-model="stime.day4_to_hour"></div>


  </div>

  <div class = "flex  items-center border-b-2 h-16" >
    <div class="flex-none w-16">
      <toggle :default-state="true" v-if="stime.day5_state == 1"></toggle>
      <toggle :default-state="false" v-else></toggle>
    </div>
    <div class = "font-bold ml-5 flex-1">{{ stime.day5_week_day }}</div>
    <div class="ml-5 flex-auto">From <input type="time" class="form-input px-2 py-2 rounded-full"  v-model="stime.day5_from_hour"></div>
    <div class="ml-5 flex-auto">To <input type="time"  class="form-input px-2 py-2 rounded-full"  v-model="stime.day5_to_hour"></div>


  </div>

  <div class = "flex  items-center border-b-2 h-16" >
    <div class="flex-none w-16">
      <toggle :default-state="true" v-if="stime.day6_state == 1"></toggle>
      <toggle :default-state="false" v-else></toggle>
    </div>
    <div class = "font-bold ml-5 flex-1">{{ stime.day6_week_day }}</div>
    <div class="ml-5 flex-auto">From <input type="time" class="form-input px-2 py-2 rounded-full"  v-model="stime.day6_from_hour"></div>
    <div class="ml-5 flex-auto">To <input type="time"  class="form-input px-2 py-2 rounded-full"  v-model="stime.day6_to_hour"></div>


  </div>

  <div class = "flex  items-center border-b-2 h-16" >
    <div class="flex-none w-16">
      <toggle :default-state="true" v-if="stime.day7_state == 1"></toggle>
      <toggle :default-state="false" v-else></toggle>
    </div>
    <div class = "font-bold ml-5 flex-1">{{ stime.day7_week_day }}</div>
    <div class="ml-5 flex-auto">From <input type="time" class="form-input px-2 py-2 rounded-full"  v-model="stime.day7_from_hour"></div>
    <div class="ml-5 flex-auto">To <input type="time"  class="form-input px-2 py-2 rounded-full"  v-model="stime.day7_to_hour"></div>


  </div>

</div>







  </form>

</template>

<script>
import Toggle from "../../ui/toggle/Toggle";
export default {
  props: ['standarddata'],
  name: "StandardTimes",
  components: {Toggle},
  data() {
    return {
      results: [],
      stime: {
        day1_from_hour: '',
        day1_to_hour: '',
        day1_state: '',
        day1_week_day: '',
        day2_from_hour: '',
        day2_to_hour: '',
        day2_state: '',
        day2_week_day: '',
        day3_from_hour: '',
        day3_to_hour: '',
        day3_state: '',
        day3_week_day: '',
        day4_from_hour: '',
        day4_to_hour: '',
        day4_state: '',
        day4_week_day: '',
        day5_from_hour: '',
        day5_to_hour: '',
        day5_state: '',
        day5_week_day: '',
        day6_from_hour: '',
        day6_to_hour: '',
        day6_state: '',
        day6_week_day: '',
        day7_from_hour: '',
        day7_to_hour: '',
        day7_state: '',
        day7_week_day: '',
      }
    }
  },
  methods: {
    fetchData(){
      let url = `${API_URI}/standardtime-get`
      axios.get(url)
          .then(res => {
            this.$parent.isLoadingStandard = false
            this.results = res.data

            // set each field
            this.stime.day1_state = this.results[0].state
            this.stime.day1_from_hour = this.results[0].from_hour
            this.stime.day1_to_hour = this.results[0].to_hour
            this.stime.day1_week_day = this.results[0].week_day

            this.stime.day2_state = this.results[1].state
            this.stime.day2_from_hour = this.results[1].from_hour
            this.stime.day2_to_hour = this.results[1].to_hour
            this.stime.day2_week_day = this.results[1].week_day

            this.stime.day3_state = this.results[2].state
            this.stime.day3_from_hour = this.results[2].from_hour
            this.stime.day3_to_hour = this.results[2].to_hour
            this.stime.day3_week_day = this.results[2].week_day

            this.stime.day4_state = this.results[3].state
            this.stime.day4_from_hour = this.results[3].from_hour
            this.stime.day4_to_hour = this.results[3].to_hour
            this.stime.day4_week_day = this.results[3].week_day

            this.stime.day5_state = this.results[4].state
            this.stime.day5_from_hour = this.results[4].from_hour
            this.stime.day5_to_hour = this.results[4].to_hour
            this.stime.day5_week_day = this.results[4].week_day

            this.stime.day6_state = this.results[5].state
            this.stime.day6_from_hour = this.results[5].from_hour
            this.stime.day6_to_hour = this.results[5].to_hour
            this.stime.day6_week_day = this.results[5].week_day

            this.stime.day7_state = this.results[6].state
            this.stime.day7_from_hour = this.results[6].from_hour
            this.stime.day7_to_hour = this.results[6].to_hour
            this.stime.day7_week_day = this.results[6].week_day

          }).catch(error => {
        console.log(error)
      })
    },
    saveForm() {
      this.$parent.isLoadingStandard = true
      // submit form
      let url = `${API_URI}/standardtime-update`
      axios.post(url, this.stime)
          .then((res) => {
            //Perform Success Action
            this.$parent.isLoadingStandard = false
            this.$toast.success(`Successfully updated standard settings`)
            this.fetchData()

          })
          .catch((error) => {
            // error.response.status Check status code
          }).finally(() => {
        //Perform action in always
      });
      //this.fetchData()
    }
  },
  mounted() {
    this.$parent.isLoadingStandard = true
    this.fetchData()
  }
}
</script>

<style scoped>

</style>